In [ ]:
import pandas as pd
from sklearn.metrics import accuracy_score, f1_score, precision_score, recall_score, classification_report, confusion_matrix

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import sys
sys.path.append('/content/drive/My Drive/Project_2')

In [ ]:
df = pd.read_csv("/content/drive/My Drive/Project_2/result.csv")

In [ ]:
df.head()

   Unnamed: 0             tweet_id  label  xlnet  SVC  GBC  MNB  RFC  BERT
0           0  1261958095502221312      1      1    1    1    1    1     1
1           1  1270364781489373187      0      0    0    0    0    0     0
2           2  1263604531872649216      0      0    0    0    0    0     0
3           3  1265279665943523328      0      0    0    0    0    0     0
4           4  1261082283911589888      0      0    0    0    0    0     0

In [ ]:
print('SVC AS ',accuracy_score(df.label,df.SVC))
print('SVC PS ',precision_score(df.label,df.SVC))
print('SVC F1 ',f1_score(df.label,df.SVC))

SVC AS  0.8525
SVC PS  0.9504950495049505
SVC F1  0.5655375552282769

In [ ]:
print('GBC AS ',accuracy_score(df.label,df.GBC))
print('GBC PS ',precision_score(df.label,df.GBC))
print('GBC F1 ',f1_score(df.label,df.GBC))

GBC AS  0.8675
GBC PS  0.9491525423728814
GBC F1  0.6283309957924264

In [ ]:
print('MNB AS ',accuracy_score(df.label,df.MNB))
print('MNB PS ',precision_score(df.label,df.MNB))
print('MNB F1 ',f1_score(df.label,df.MNB))

MNB AS  0.806
MNB PS  0.9158878504672897
MNB F1  0.3356164383561644

In [ ]:
print('RFC AS ',accuracy_score(df.label,df.RFC))
print('RFC PS ',precision_score(df.label,df.RFC))
print('RFC F1 ',f1_score(df.label,df.RFC))

RFC AS  0.848
RFC PS  0.9576719576719577
RFC F1  0.5435435435435435

In [ ]:
print('BERT AS ',accuracy_score(df.label,df.BERT))
print('BERT PS ',precision_score(df.label,df.BERT))
print('BERT F1 ',f1_score(df.label,df.BERT))

BERT AS  0.9395
BERT PS  0.8836206896551724
BERT F1  0.871413390010627

In [ ]:
print('xlnet AS ',accuracy_score(df.label,df.xlnet))
print('xlnet PS ',precision_score(df.label,df.xlnet))
print('xlnet F1 ',f1_score(df.label,df.xlnet))

xlnet AS  0.936
xlnet PS  0.8720682302771855
xlnet F1  0.8646934460887948